.dashboard {
	text-align: center;
}

.stats {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 20px;
}

.stat-card {
	background-color: #232525;
	color: white;
	padding: 20px;
	border-radius: 10px;
	width: 200px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 10px;
	transition: transform 0.3s ease;
}

.stat-card:hover {
	transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
	.stats {
		justify-content: center;
	}

	.stat-card {
		width: 100%;
		max-width: 300px;
	}
}

@media (max-width: 480px) {
	.stat-card {
		width: 100%;
		/* Removed redundant max-width since it already takes full width */
	}
}
