.product-details {
	padding: 20px;
	text-align: center;
}

.product-details h2 {
	margin-bottom: 20px;
	font-size: 28px;
	color: #333;
}

.product-info {
	background-color: #f9f9f9;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(46, 36, 36, 0.1);
	display: inline-block;
	text-align: left;
	width: 100%;
	max-width: 600px;
}

.product-info p {
	font-size: 18px;
	margin: 10px 0;
	color: #555;
}

.product-info strong {
	color: #333;
}

.product-image {
	display: block;
	margin: 0 auto; /* Centers the image horizontally */
	width: 100%;
	max-width: 300px;
	height: auto;
	border-radius: 8px;
	margin-bottom: 20px;
}
